body{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to bottom, rgba(227, 220, 15, 0.888),white);
    height: 100vh;
    margin: 0;
    padding: 0;
}
h2 {
    font-weight: normal;
    margin-bottom: 10px;
    color:rgb(0, 0, 0);
    text-shadow: 1px 1px 2px rgb(224, 215, 215);
}
#level {
    font-size: 20px;
    margin-bottom: 10px;
}
#lives {
    font-size: 24px;
    margin-bottom: 20px;
}
.image {
    width: 120px;
    height: 120px;
    margin: 10px;
    cursor: pointer;
    box-shadow:  0 4px 8px rgb(84, 83, 83);
    border-radius: 10px;
    transform: 0.5s;
}
#boxes{
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 15px;
margin-bottom: 20px;
}
.image:hover {
    transform: scale(1.1);
}
#btn{
    border-radius: 10px;
    background-color: blue;
    color: white;
}
